[2014-02-23 08:38] jamdagni86 opened #1 "Code coverage results window beautification"
1. Show Progress bar/busy indicator in Code Coverage results window.
2. Set column width in percentages. Right now, it is hard coded.
3. Add menu to the control.
4. Import/Export code coverage results.

[2014-02-24 08:18] jamdagni86 opened #2 "Add error handling"
Right now, the addin assumes OpenCover works as expected. There might be scenarios where it might not be able to collect code coverage results. Handle such scenarios.

[2014-02-24 08:19] jamdagni86 opened #3 "Add installer"
Need an installer? Not sure yet as the default project build will generate a vsix package which can be used as the installer.

This issue is just to track the same.

[2014-02-24 08:20] jamdagni86 opened #4 "Add loggers"
Add support for logging

[2014-02-24 08:21] jamdagni86 opened #5 "Add file context menu item to execute test"
The tests can be executed only from Test Explorer's context menu. Add support to run them from the file.

[2014-02-24 18:39] jamdagni86 opened #6 "Showing code coverage results when the source has changed."
The plugin doesn't handle the scenario where the user tries to open a class/method from code coverage results window after changing the corresponding document.

Expected behaviour: Show the user proper error message about the change in file.

[2014-02-24 18:44] jamdagni86 opened #7 "Check if all the selected test methods exists before running the tests"
If the user deletes a test method and does not build the solution, the Test Explorer window will still have the test listed. Its possible for the user to select the deleted test and run the test with code coverage.

The plugin should check if the selected methods exist in the solution after the build operation completes (triggered by the plugin before running tests).

[2014-02-24 19:15] jamdagni86 opened #8 "Theming"
Code Coverage Results window should change its background color based on Visual Studio Theme.

Currently, it works well with light theme.

[2014-02-24 19:16] jamdagni86 opened #9 "Add support for Visual Studio 2013"
Its just a configuration change to make it work on Visual Studio 2013 as well.

[2014-02-24 19:30] jamdagni86 opened #10 "Not able to run tests with code cover when the solution is opened along with visual studio"
If Visual Studio is opened by opening a solution file, the "Run selected tests with OpenCover" command is not getting enabled.

However, when a solution is opened after launching visual studio, the plugin is working as expected.

[2014-02-26 11:48] #10 closed, assigned to jamdagni86

[2014-02-26 11:49] #4 closed, assigned to jamdagni86

[2014-02-27 10:15] jamdagni86 opened #11 "Add namespace grouping in Code Coverage Results window"

[2014-02-27 10:18] #11 closed, assigned to nobody

[2014-03-10 12:26] jamdagni86 opened #12 "Add grouping support to test explorer"
Add support for grouping tests by
1. Class name
2. Traits/Test Categories
3. Test run status
4. etc

[2014-03-10 12:28] jamdagni86 opened #13 "Add goto unit test definition from Test Explorer"
Add support to goto source file when double clicked on a unit test from OpenCover Test Explorer

[2014-03-10 13:15] #9 closed, assigned to nobody

[2014-03-20 13:10] jamdagni86 opened #14 "Unable to launch OpenCover when high number of tests are selected"
When a large number of unit tests are selected, starting OpenCover will fail.

[2014-03-26 18:26] jamdagni86 opened #15 "Add search feature in OpenCover Test Explorer"
Add search feature in OpenCover Test Explorer window so that it becomes easy for users to search the tests.

[2014-03-26 18:37] #3 closed, assigned to nobody

[2014-03-26 18:42] jamdagni86 opened #16 "Add NUnit support"
Add NUnit support in the tool.

[2014-04-03 10:24] #14 closed, assigned to jamdagni86

[2014-04-03 10:24] #12 closed, assigned to nobody

[2014-04-03 10:39] jamdagni86 opened #17 "Not able to run tests under "No Traits" group"
When executing tests by "No Traits", pass method names instead of passing "No Traits" as test category

[2014-04-09 14:19] #16 closed, assigned to nobody

[2014-04-09 14:19] #17 closed, assigned to nobody

[2014-04-19 19:14] Suremaker opened #19 "The 'OpenCoverUIPackage' package did not load correctly"
Hello,
I have installed OpenCover in folder according to the instruction.
I have also unit tests project with NUnit 2.6.3 package installed.

When I try to open my solution with VS 2012, I am getting error mentioned in title and following errors in ActivityLog.xml:
`SetSite failed for package [OpenCoverUIPackage]`
`End package load [OpenCoverUIPackage]`

[code]

[2014-04-24 07:19] jamdagni86 opened #20 "Load tests when TestFixture is added on a base class"
Right now, there is no support for the following structure.

[code]

[2014-04-24 07:23] #19 closed, assigned to nobody

[2014-04-24 11:59] jamdagni86 opened #21 "Show test execution results in OpenCover Test Explorer"

[2014-05-09 09:03] #21 closed, assigned to nobody

[2014-05-09 09:05] #2 closed, assigned to nobody

[2014-05-09 09:05] jamdagni86 opened #22 "Add support to select TestSettings file for MSTest"

[2014-05-13 08:08] #20 closed, assigned to nobody

[2014-07-28 08:30] gboer opened #23 "Displaying code coverage for referenced project"
This is a continuation of https://github.com/OpenCover/opencover/issues/204, but I moved it here, since it has nothing to do with OpenCover anymore.

After adding a reference to nunit.framework.dll in the code that I want code coverage for displayed, it still didn't give me code coverage for the correct code.

When code coverage is run on the build server, the configuration works a bit differently

[2014-08-01 09:17] #23 closed, assigned to nobody

[2014-08-27 16:35] Suremaker opened #25 "Test coverage should include tests from base class"
Hello,

I have noticed that the test methods defined in base class are not included in coverage results.
The example code to recreate issue is presented below:

[code]

The test named **Should_not_be_null** is not reported as executed in test coverage report. More over, if **TestFixture** attribute would be removed from **ObjectTests** class, the **Object_specific_test** would not be executed as w

[2014-12-31 03:03] csMACnz opened #27 "Support Xunit tests"
I notice your plugin works for mstest and nunit tests.  It would be great if this also supported XUnit as well. This is the test framework I am using with opencover on the command line already.

This might be something I can look at forking myself in a few months, but if this is something others are looking at already that would be awesome.

[2015-01-01 03:22] csmacnz commented on #27
No worries @sawilde, its good to see how these transitions happen.

@jamdagni86 I'll look to find some time to add xunit support and flick through a PR at some point, sounds like you will be busy enough with your bug fixes and handover :)

[2015-01-18 14:59] Steve-Fenton opened #28 "Visual Studio Theme Support"
Firstly, thanks for this excellent Visual Studio extension.

Would it be possible to respect the Visual Studio theme? I am using the standard "Dark" theme and it doesn't get properly applied to the two OpenCover UI windows. In some cases, the background is the one from the theme (dark grey) but the foreground is still the default black text, which is hard to read.

[2015-01-30 07:58] jamdagni86 commented on #28
Hi,

I've started the process of moving away from the plugin development (as I no longer have access to Windows and Visual Studio) and Shaun Wilde - the creator of OpenCover - has agreed to take the plugin forward. I had created an issue in Github to track the theme support feature. But I couldn't finish it.

[2015-02-02 18:34] sawilde commented on #28
I have agreed to help take it forward but I need some handover information as requested previously.

[2015-02-02 18:54] sawilde opened #29 "Handover information"
As discussed in #27 and #28 - I have agreed to consider supporting OpenCover.UI but I need some handover information especially as the original developer @jamdagni86 says they have
limited access to facilities to continue development (which is a shame).

1. We need to discuss collaboration e.g. who has access to the main repository maintainers/collaborators/owners?

2. How do we go about testing a

[2015-02-03 22:23] pver commented on #29
I only learned about this VS extension a week ago, and like it so far. It would be great to see it (more actively) maintained in the future.

For my own purposes, I've made some small modifications so far, for instance:
- the modified plugin shows every class from the tested assemblies in the coverage results window, even if they are not covered by the tests (makes it easier to see which classes a

[2015-02-03 22:48] sawilde commented on #29
@pver, currently only @jamdagni86 has the rights to accept pull requests. I also have some changes - regarding build servers and I also like to sort out the publishing of the extension - even automate it, because if I have to go off and do things then the system looks after itself. You will see I have done this on a few of my repositories which I manage which have regular pull requests.

[2015-02-04 06:18] jamdagni86 commented on #29
@pver - if your changes are ready, i can still accept your pull request.

@sawilde - I've already sent you an owner invitation so that you can accept any future pull requests.
About points you have mentioned:

1. Collaborators - As I mentioned, I've sent you an invitation to become the owner of the project and once you accept, please feel free to add anyone whom you deem fit.
2. Licensing - I will

[2015-02-04 08:13] sawilde commented on #29
Thanks I haven't seen any request though - do you know when you sent it?

[2015-02-04 10:42] jamdagni86 commented on #29
It was 12 days ago. I've canceled the invitation and resent it to you. Please have a look at it and let me know!

[2015-02-04 18:30] sawilde commented on #29
received it - I didn't think to look that far back - I get a lot of github messages and so missed the original invitation - sorry- new filters applied :)

[2015-02-09 08:01] Beronien commented on #28
In the meantime, there is any way of manually set up the window style of the OpenCover UI windows? I have been searching them in the options but I could not find them. Wich window group are they?

[2015-02-09 16:29] pver commented on #28
I don't think there's an option for this at the moment (at least I didn't came across one while exploring the code of the plugin)

As a side note: I've already made some progress in making the plugin use the Visual Studio theme colors. I'll create a PR once it's completely finished.

[2015-02-09 21:07] sawilde commented on #28
@pver awesome

I've actually been tidying up a new feature in OpenCover so I can have a clear mind for when I start to look at this code base - so more hands the merrier.

[2015-02-11 22:32] pver commented on #28
A sneak preview of the changes (it follows the selected Visual Studio theme dynamically when it's changed) :
*Dark theme*
![image](https://cloud.githubusercontent.com/assets/1618378/6157907/86ac3104-b245-11e4-9e36-71b7b9d18daa.png)
*Blue theme*
![image](https://cloud.githubusercontent.com/assets/1618378/6157940/d9786ed4-b245-11e4-89dc-a6f46d7a05f5.png)
*Light theme*
![image](https://cloud.githubus

[2015-02-11 23:26] sawilde commented on #28
awesome :)

[2015-02-12 06:54] Steve-Fenton commented on #28
Looks great - and solves major readability problems :)

Sent from my iPhone

[2015-02-13 10:17] twenzel commented on #28
Great! Any plans for the next release date? ;)

[2015-02-13 10:28] twenzel opened #30 "Missing support for VB.NET projects"
No tests where discovered when using VB.NET.

Please add the project GUID "F184B08F-C81C-45F6-A57F-5ABD9991F28F" to IDEHelper.GetProjects().

[2015-02-13 10:49] twenzel opened #31 "Support for 64bit machine"
If you work on a x64 machine and your project output is defined as x86 then you should use the nunit-console-x86.exe. otherwise no test can be executed and a BadImageFormatException will be thrown.

So you should discover the target platform for the selected tests in NUnitTestExecutor and determine whether you are running on ax64 machine.

[2015-02-13 11:04] twenzel opened #32 "Show line coverage in code editor"
Please show the coverage state for each line in the code editor. This will improve the usage of this extension. Otherwise I won't see which line was not affected through my tests and need to be tested.

This is a minimum requirement for version 1.0.

[2015-02-13 11:53] pver commented on #32
@twenzel it is possible to see the line coverage by double clicking on an item in the coverage results window. This will open the file in the code editor and highlight the covered and uncovered lines of code. It should look like this:
![image](https://cloud.githubusercontent.com/assets/1618378/6186805/e2a0569a-b37e-11e4-9196-841214a5710a.png)

(I noticed the double click does not work everywhere y

[2015-02-13 13:50] twenzel commented on #32
Great. Maybe it does not work for VB.NET projects. I will check this.

[2015-02-13 15:53] pver commented on #32
Good point, haven't tried it with VB.Net yet. Keep us posted! :)

[2015-02-15 19:52] sawilde opened #33 "Create UI to allow change of Settings"
* needs main menu entry
* initially allows setting of nunit and opencover path

[2015-02-15 19:53] sawilde commented on #33
Got a basic UI working - needs theming (wait for #28)

[2015-02-15 19:55] sawilde opened #34 "Add appveyor build environment"
Use Appveyor to build project based on checkins and pull-requests

got it working on https://github.com/sawilde/OpenCover.UI/network

[2015-02-15 19:58] sawilde opened #35 "Deploy new vsix to gallery"
Currently we have [Appveyor](https://ci.appveyor.com/project/sawilde/opencover-ui) building the project and producing a VSIX. What we need to do now is publish the VSIX.

Preferably scripted so we can do so from the build system otherwise we need some manual instructions - @jamdagni86 can you provide details please?

[2015-02-15 19:59] sawilde commented on #34
see https://ci.appveyor.com/project/sawilde/opencover-ui

[2015-02-15 21:12] sawilde commented on #8
duplicate to #28 which is more active

[2015-02-15 21:12] #8 closed

[2015-02-16 22:49] pver opened #36 "Test duration unit mismatch NUnit/MSTest"
No unit is displayed in the Summary field (TestExplorer control). Furthermore it looks like NUnit test duration is expressed in ms, while the unit for MSTest tests is in seconds.
I think a unit should always be shown to make it more clear (maybe even recalculate/scale it? For instance: use 'x' ms when a test takes less than 1 second and use 'x.x' s when the test takes longer than 1 second?)

[2015-02-16 23:21] pver commented on #28
Took a bit longer than expected, but #37 should make sure the plugin supports the VS themes :)

[2015-02-16 23:23] pver commented on #31
@sawilde if you want I can take a look at this one: I noticed the same problem for one of my projects so I can already reproduce this

[2015-02-17 00:11] sawilde commented on #28
awesome - I am currently sorting out teams - I'll update the wiki with plans

[2015-02-17 00:20] sawilde commented on #31
Sure - I am adding teams to help manage ownership of tasks (assuming people want to claim them) :)

[2015-02-17 07:29] pver commented on #31
:+1: perfect! :)

[2015-02-17 10:11] sawilde commented on #34
added to mainline - https://ci.appveyor.com/project/sawilde/opencover-ui/build/1.0.7

[2015-02-17 10:11] #34 closed

[2015-02-17 11:03] jamdagni86 commented on #35
@sawilde - I am not sure if VisualStudioGallery provides a way to publish the vsix through scripting. If it doesn't, please let me know when you plan to release a version, I will upload the vsix manually.

[2015-02-17 11:11] sawilde commented on #35
I suspect you are right but I though it is worth investigating.

When we have a build I'll create a new issue and tag you and link the build artifact.

[2015-02-17 11:12] #28 closed

[2015-02-17 20:20] sawilde opened #40 "Setup Slack for team communication"
Hi guys, I have set up a slack account to help those of us working on the UI to communicate (github is so limited) and perhaps get to know each other better.

@jamdagni86
@pver
@twenzel
@csMACnz

visit the [team page](https://opencoverui.slack.com/) to sign up and join the conversation.

[2015-02-18 07:04] jamdagni86 commented on #30
@twenzel - I guess you will have to edit OpenCover.UI/OpenCover.UI/Tagger/TextTaggerProvider.cs file to add ContentTypeAttribute on TextTaggerProvider so that the file opened through the test results window will color code the source properly.

[2015-02-18 07:39] pver commented on #40
Good idea!
I tried to join the team, but the site (https://opencoverui.slack.com/) says we need an invitation from the team admin to be able to join. And if I try to register first in the Slack home page, it wants to create a new team. I haven't worked with Slack before, so maybe I'm doing something wrong?

[2015-02-18 08:50] twenzel commented on #32
Gotcha! Done by https://github.com/twenzel/OpenCover.UI/commit/4d4a41cdedc71e12b2e8de3108dbb8c895c542c3

[2015-02-18 08:50] #32 closed

[2015-02-18 09:52] twenzel commented on #31
I've already solved this one in my repro.
https://github.com/twenzel/OpenCover.UI/commit/2e71e4d0de85a375506afd4194039e09e21ffd54
@pver If it's ok to you I can create a pull request.

[2015-02-18 11:09] pver commented on #31
Sure, the fix looks good! :+1:

[2015-02-18 11:36] sawilde commented on #40
hmmm... damn I didn't realize its invitation only - or limited to domains grrr...

okay, looks like it's invite only - I'll update the readme

if you want an invite - post below - feel free to obfuscate your email (but not so much I can't work it out)

[2015-02-18 11:38] sawilde commented on #32
we should be able to support any .net language - opencover doesn't care

[2015-02-18 12:22] #31 closed

[2015-02-18 12:22] #30 closed

[2015-02-18 17:47] pver commented on #40
@sawilde no problem, you can use the following (obfuscated) mailadres for the invite: 'depezor at yahoosmail.com'

[2015-02-18 18:00] pver opened #42 "Length cannot be less than zero exception"
Found this one in the Q&A on the visual studio gallery:

I can't find the extra details it is talking about: nothing is shown in any of OpenCover's panes, or in the normal VisualStudio output pane.
...
I did some more troubleshooting and this is being caused by a specific test that looks like this:
        [TestCase(false, TestName = "FirstTestCase")]
        [TestCase(true, TestName = "SecondTest

[2015-02-18 18:05] pver commented on #42
Extra info logged in the OpenCover.UI output window:

   at System.String.InternalSubStringWithChecks(Int32 startIndex, Int32 length, Boolean fAlwaysCopy)
   at System.String.Substring(Int32 startIndex, Int32 length)
   at OpenCover.UI.Processors.NUnitTestExecutor.ReadTestCase(XElement ts)
   at OpenCover.UI.Processors.NUnitTestExecutor.<ReadTestResults>b__1(XElement ts)
   at System.Linq.Enumerab

[2015-02-18 19:47] twenzel commented on #40
Yep, use mine toni (dot) wenzel (at) googlemail.com

[2015-02-18 20:55] sawilde commented on #40
sent - if you don't get an email let me know

[2015-02-18 22:40] pver commented on #42
@sawilde I'll take care of this one: I found the root cause for the problem and have an approach to fix it

[2015-02-18 23:36] sawilde commented on #42
feel free to assign tickets to yourself :)

[2015-02-19 07:29] pver commented on #42
Thanks for assigning :)
I couldn't find the assign functionality myself, I think it's because assigning also requires write access to the repository?

[2015-02-19 07:33] pver commented on #40
I didn't receive the mail yet, I might have obfuscated my mail address too much :)
Before the 'at' it's 'depezor' and after the at it's 'yahoo.com'

[2015-02-19 11:48] sawilde commented on #40
tried again :)

[2015-02-19 11:53] sawilde commented on #42
Ahh - I didn't know that, learning more about github things everyday.

I did wonder about write access but I want devs to work on their own forks and submit pull requests before I do so - I only do very minor changes on the main repo i.e. readme.md files etc

[2015-02-19 13:50] twenzel opened #43 "Beautify line coverage"
At the moment the line coverage is shown via a colored background for the whole line.

![today](https://cloud.githubusercontent.com/assets/1618378/6186805/e2a0569a-b37e-11e4-9196-841214a5710a.png)

I think we should change this to a __less invasive__ way. Like:

![ncrunch](http://www.ncrunch.net/Content/Home/featureCodeCoverage.png)

[2015-02-19 16:24] pver commented on #43
:+1:
Looks great indeed!
It may be less visible for partially covered lines (for instance parts of an if statement), but a solution could be to give such a line an orange bullet.
And we could even make the bullet clickable, so that when the user clicks it (or hovers over it) we still show the current style of background color for the corresponding line

[2015-02-19 16:24] pver commented on #40
Got it now, thanks! :)

[2015-02-19 19:57] sawilde commented on #40
awesome

[2015-02-20 06:38] twenzel commented on #43
@sawilde you can assign this to me if you like.

[2015-02-20 07:35] sawilde commented on #43
we have to be mindful of how we do things as I see you have posted an ncrunch screen shot - I do like the suggestion by @pver as it allows both options - less invasive but a switch to detailed when needed.

[2015-02-21 04:25] sawilde commented on #40
let's see how this goes - we may want to try others such as [glitter](https://gitter.im)

[2015-02-23 17:53] pver commented on #29
@jamdagni86 do you remember if there was a specific reason why the TestDiscoverer is started as a separate process? Was it because of some restrictions you encountered from running the discovery from within a Visual Studio extension? Could we also do it by just referencing and calling the assembly directly?

[2015-02-23 18:13] pver opened #44 "Ignore assembly from coverage results"
Sometimes it's handy to exclude certain assemblies from the coverage results. For instance, the assemblies containing unit tests, or specific third party assemblies.

As a first step, we could provide a settings file (solution specific) that keeps a list of these ignored assemblies.

Later on, we could integrate the option to add or remove assemblies from this 'ignore list' through the testresults

[2015-02-23 21:07] sawilde commented on #29
@pver @jamdagni86 if you do this you may want to consider running it in a separate appdomain to provide isolation and then you could get the discover results dynamically.

I am thinking of the same way to run opencover - that way we can get the coverage results dynamically rather than wait for the run to be over.

[2015-02-23 21:11] sawilde commented on #44
I am working on a settings screen (basic) that we can extend to manage this - I am still learning how all this hangs together - but I've stopped crashing :)

[2015-02-23 21:12] sawilde opened #46 "Add tests and coverage to appveryor and local dev scripts"
online -> coveralls.io
local -> reportgenerator
coverage - opencover (who else)

all can be pulled from nuget

[2015-02-23 21:28] pver commented on #29
Sounds great! :+1:

[2015-02-24 16:45] jamdagni86 commented on #29
@pver when I started the plugin, I was using .NET reflection to discover the test methods. However, once the dlls are loaded, they won't get unloaded till the app domain is unloaded or the program is killed. The problem with that is, VisualStudio won't let you clean/build the project since the DLLs are in use. So, I made the TestDiscoverer a separate process.
After sometime, I switched to Mono.Cec

[2015-02-24 16:53] pver commented on #29
:+1:  That makes sense, thanks for the info! :)

[2015-02-26 22:15] pver commented on #13
Got this working. I'll do some further testing with different test and project setups, but you can expect a PR soon

[2015-02-27 00:28] sawilde commented on #13
awesome

[2015-02-27 06:36] #43 closed

[2015-03-01 05:45] #40 closed

[2015-03-01 05:45] sawilde commented on #33
basic (very) UI added

[2015-03-01 05:45] #33 closed

[2015-03-01 05:48] sawilde commented on #46
basic tests are now being included in appveyor - when build is complete we need to add coverage etc

[2015-03-04 09:19] twenzel opened #51 "Provide test information in line glyph"
Provide more information about executed tests for each line glyph.

E.g.: Amount of tests covering this line
Test names
Test results

[2015-03-04 22:25] pver opened #52 "Support column sort on the coverage results control"
Might be handy to quickly find the most/least covered classes

[2015-03-22 15:39] immeraufdemhund opened #54 "Text is black with dark theme"
Using VS13 Community edition with the dark theme when I open up the OpenCover windows they show black text (default is white). Makes it hard to read.

[2015-03-22 15:42] immeraufdemhund opened #55 "Make TestAdapter run Tests"
I don't have Nunit installed but instead use the Nunit test adapter to run my tests. Maybe instead of depending on the test executables, rely on the test adaper

[2015-03-22 18:35] pver commented on #54
We have implemented a fix for this, but it's not released yet. We hope to publish it soon

[2015-04-01 21:28] pver opened #57 "Create release notes for v0.8"
Placeholder in the wiki already added, it can be found here: https://github.com/OpenCoverUI/OpenCover.UI/wiki/Release-Notes

[2015-04-02 11:05] pver opened #58 "TextTagger throws exception"
I got error this with the current master (not sure how to reproduce it yet) :

I'll see if I can get more context for this error (it only happened once)

[2015-04-02 11:57] pver commented on #58
@twenzel I think it should work if we add a check if the item is already added here: https://github.com/OpenCoverUI/OpenCover.UI/blob/82d52c4f8400b941d34b292247c2e7d4adda0ef5/OpenCover.UI/Tagger/TextTagger.cs#L52

But maybe this indicates another problem? Maybe it shouldn't happen at all that it tries to add it the view twice? Do you have an idea (I'm not very familiar with the TextTagger yet)?

[2015-04-04 11:51] twenzel commented on #58
I was also not able to reproduce this issue.
But I added a little logic to return the already registered tagger instance instead of creating a new one.

[2015-04-04 11:51] #58 closed

[2015-04-04 18:03] pver commented on #58
:+1: Nice!
It's a strange issue indeed: I only notice it once every Visual Studio session (always several seconds after VS starts), and only on one of my machines. Maybe it's because of using OpenCover.UI in combination with another tool that does something with Taggers (I only noticed it on a machine with Resharper and DotCover, but that might be completely coincidence)

[2015-04-07 20:18] #57 closed

[2015-04-08 11:25] pver opened #61 "NRE in TextTagger.Dispose"
I got these errors in my ActivityLog.xml. I think the dispose is called more than once, causing subsequent disposes to fail

935 ERROR System.NullReferenceException: Object reference not set to an instance of an object. at OpenCover.UI.Tagger.TextTagger.Dispose(Boolean disposing) at OpenCover.UI.Helper.TextViewCoverageProviderBase.Dispose() at Microsoft.VisualStudio.Text.Tagging.Implementation.Tag

[2015-04-08 23:28] twenzel commented on #61
I'm not able to reproduce this error. But if the Dispose method is realy called twice the fix should work.

[2015-04-09 11:33] pver commented on #13
The search does not traverse through all subfolders/namespaces yet (and therefor can't open every discovered test yet).
I'll fix this

[2015-04-09 21:19] #13 closed

[2015-04-29 18:41] #61 closed

[2015-04-29 20:45] tekkies commented on #40
Would it be possible to get an invite to slack - I'm trying to nail a bug affecting me and a friend?
andy dot joiner at tekkies dot co dot uk

[2015-04-29 21:08] sawilde commented on #40
we switched to gitter as we wanted the least amount of effort involved to get people talking - link should be on the home page for the repo

[2015-04-29 21:11] tekkies opened #66 "Argument out of range near TextViewCoverageProviderBase.GetWordSpans"
I've seen this issue after using OpenCover.UI for an hour or so.  I've also seen the same issue on another PC in the team on another project.

	Specified argument was out of the range of valid values.
	Parameter name: length
	   at Microsoft.VisualStudio.Text.Span..ctor(Int32 start, Int32 length)
	   at OpenCover.UI.Helper.TextViewCoverageProviderBase.AddWordSpansForSequencePointsCoveringMultipleL

[2015-04-29 21:14] tekkies commented on #40
The links in the Team communication section on the [ReadMe.md](https://github.com/OpenCoverUI/OpenCover.UI/blob/master/README.md) still seems to point to slack.

[2015-04-29 21:17] tekkies commented on #40
I think I found the page by googling :)

[2015-04-29 22:05] sawilde commented on #40
you're right need to change that - I thought the big gitter button would help though :)

[2015-04-29 22:23] #66 closed

[2015-04-29 22:23] tekkies commented on #66
It seems that this is coincidental and is handled fine.

[2015-05-22 08:10] pver opened #67 "Support excludebyfile and excludebyclass"
We should support the OpenCover option to exclude files and/or classes from the coverage results:
see the OpenCover arguments at:
https://github.com/opencover/opencover/wiki/Usage

(because the exclusion is project/solution specific, maybe we should create some kind of <solutionname>.opencoverui.settings file in the solution to keep track of these settings. That way the settings (file) can also be

[2015-05-28 07:47] pver opened #72 "NUnit - TestCaseSource tests are ignored"
NUnit tests marked with the TestCaseSource attribute are not discovered (and therefor not executed)

[2015-05-30 05:44] pver commented on #54
This is fixed in v0.8

[2015-05-30 05:44] #54 closed

[2015-06-01 12:02] pver opened #74 "Coverage ico multiple test projects"
In case of multiple test projects in a solution, the results of the code coverage are not aggregated.

For instance: a class that is fully covered by 2 separate tests in separate test projects, will be shown twice in the coverage results window (because the results are shown by project): each entry with partially covered code..

Not sure yet how we could tackle this: merge the coverage results? Or

[2015-06-05 08:44] pver opened #75 "GroupBy shows "sequence contains no elements""
If you open a solution without tests and click the 'Group By' dropdown in the Test Explorer window, an error message is displayed, saying that the 'sequence contains no elements':
![image](https://cloud.githubusercontent.com/assets/1618378/8002476/8b08c1b2-0b6f-11e5-82ec-4c4e47a12fde.png)

[2015-06-06 09:13] #75 closed

[2015-06-12 07:57] pver opened #77 "Support F# projects"
Tests in F# projects are not found yet.

[2015-06-14 08:51] pver opened #79 "Span constructor exception"
From time to time I notice these error messages in the OpenCoverUI output window (mostly at startup).

[code]

[2015-06-15 16:47] pver opened #80 "Extend coverage statistics"
It might be nice to also show info about method coverage percentage in the coverage results window

[2015-06-15 16:52] pver commented on #77
Adding the F# project guids should be easy, but we have to keep in mind that in F# projects tests are often written without adding tests to a test fixture.
The current NUnit discoverer (and probably the others as well?) assumes test attributes on class level, before checking the contained methods/functions for Test attributes. This will need to be changed (also NUnit no longer requires the TestFix

[2015-06-15 22:08] sawilde commented on #77
:+1:

[2015-06-15 22:09] sawilde commented on #80
:+1:

[2015-06-16 20:16] pver commented on #79
Seems to be the same issue as was reported here: #66 but as mentioned by the reporter of that issues, I also see it only occassionaly

[2015-07-18 18:29] meolus opened #82 ""There is an error in XML document" on <Method skippedDueTo="Unknown"..."
I am getting an exception on running "Cover with OpenCover" from Open Cover Test Explorer:

At this position in test result xml I found below /CoverageSession/Modules/Module/Classes/Class/Methods/Method a "skippedDueTo="Unknown"", which seems to cause the problem.

The "class" this part of the test result depends on is a delegate:

which is used for an event:

The Methods in rest result xml are ct

[2015-07-19 17:06] pver commented on #82
@meolus thanks for reporting this, we'll look into it! Could you include the xml file that causes the issue? Maybe it's best to do the coverage against the related test, to keep the xml file small

[2015-07-19 17:41] meolus commented on #82
I created a new minimal console project to reproduce the problem:

Program.cs in console application project:
[code]

UnitTest1.cs in test project:
[code]

OpenCover Log output is:
[code]

Results in a XML of:
[code]

[2015-07-20 11:54] pver commented on #82
I could not reproduce it yet with my setup, but it might be caused by a different OpenCover version (I don't have the "skippedDueTo="Unknown"" in my result xml).
Do you know which OpenCover version you have installed? Maybe @sawilde has an idea of why the methods are skipped.

But this situation is definitely something we should catch in OpenCover.UI as well. I'll use your output for now to suppor

[2015-07-20 18:57] meolus commented on #82
Thanks for caring about the problem. I've had installed OpenCover (Release) 4.6.166.

Additional I figured out that the problem does not occur with OpenCover 4.5.3427.

[2015-07-20 20:22] bigmat opened #83 "VS2013 build"
I can't open the project in VS2013, i have an error message saying that "	OpenCover.UI\OpenCover.UI.VS2013.csproj: The application which this project type is based on was not found."
Can someone help please ?

[2015-07-20 21:01] sawilde commented on #82
It's the state when the 3rd party library we use `Mono.Cecil` fails to get the method body https://github.com/OpenCover/opencover/commit/ea110c595ae2810310558ed8e6b1812d3aa496e0

The library is changing a lot of late with VS2015 support so it may be useful to repeat this and then raise it with them.

[2015-07-20 21:15] sawilde commented on #83
You need to install more *stuff* in order to compile.

This stack overflow post describes the issue - http://stackoverflow.com/questions/26297014/visual-studio-doesnt-support-specific-csproj-file

The project type guids are listed here (may become out of date) - http://www.mztools.com/articles/2008/mz2008017.aspx

Looking at https://github.com/OpenCoverUI/OpenCover.UI/blob/master/OpenCover.UI/Open

[2015-07-20 21:47] pver commented on #83
As Shaun mentions, you need to install some extra compared to a regular Visual Studio setup: the Visual Studio SDK.
The installer for the Visual Studio 2013 SDK, can be found here: http://www.microsoft.com/en-us/download/details.aspx?id=40758. After installing the SDK, you should be able to open and run the solution

[2015-07-20 21:52] bigmat commented on #83
Yes it's working thx !
I will look how i can fix the issue i have with my project, there are a lot of unit tests and the plugin worked only the first tie i installed it, now it does not find any tests. with the source i can debug

[2015-07-20 21:55] pver commented on #82
Ok, thanks for the info @meolus and @sawilde!
I'll first add support for the new SkippedMethod enum values, to make sure the plugin doesn't crash on them anymore (OpenCover.UI should support these new values). And then I'll see if I can figure out why the new Mono.Cecil has problems with it.

[2015-07-20 21:58] pver commented on #83
:+1: thank you too for helping :) Keep us posted if you find anything or feel free to create a ticket with specifics on the issue(s) you run into

[2015-07-20 22:02] #83 closed

[2015-07-21 16:19] pver commented on #82
@meolus could you do a test with the version from this build: https://ci.appveyor.com/project/sawilde/opencover-ui/build/1.0.73/artifacts
(you may need to uninstall the official release build before installing this snapshot release, because we didn't increase the version number yet).

I could reproduce the issue you had with OpenCover 4.6.166, and with the fix implemented in #84 it seems to work f

[2015-07-21 18:55] meolus commented on #82
The same for me. With OpenCover 4.6.166 and the version @pver provided, the problem does not occur anymore. Thank you very much for the quick solution.

[2015-07-21 21:15] pver commented on #82
Great, thank you too for helping with troubleshooting and testing!
I'll check with the others when we cab make a new release that contains this fix

[2015-07-21 21:17] #82 closed

[2015-07-25 12:10] animeshb opened #85 "Open Cover UI plugin isn't compatible with VS 2015 Community Edition"
I get the following error when I try to install in Visual Studio 2015 Community Edition on Windows 8.1.

<img width="343" alt="capture" src="https://cloud.githubusercontent.com/assets/1550696/8889349/1a7318c4-32f4-11e5-8c08-1ee31ca5dc89.PNG">

Error log:
	7/25/2015 5:36:50 PM - Searching for applicable products...
	7/25/2015 5:36:50 PM - Found installed product - Microsoft Visual Studio Community

[2015-07-25 15:47] pver commented on #85
The plugin only supports VS 2012 and 2013 at this moment, but I'll add VS 2015 support in the coming days.

That will be a good point to make a new release with the issues we fixed so far.

[2015-07-26 07:27] sawilde commented on #85
:+1:

[2015-07-26 16:07] pver opened #86 "Improve path selection for tools"
Found this on the vsgallery page:
[code]
We should make it more obvious what file(s) to choose (for NUnit, OpenCover, ..)

[2015-07-29 21:43] pver commented on #85
@animeshb did you experience this on a machine that only has VS2015 installed? If so, would you be so kind to test a snapshot with the fix I made in #87 ? The snapshot installer can be found on the appveyor artifact page: https://ci.appveyor.com/project/sawilde/opencover-ui/build/1.0.76/artifacts

I successfully tested the fix on:
- a machine with only VS2012 installed
- a machine with VS2013 and

[2015-07-29 21:44] pver commented on #85
We'll also need to fix some of the references used in the project. Because at the moment, a build can only be installed in a Visual Studio version higher or equal to the one used for building:
- when building from VS2012: it installs on VS2012-only and VS2013-only and VS2013 with VS2015 machines
- when building from VS2013: it installs on VS2013-only and VS2013 with VS2015 => it does not install o

[2015-07-29 21:47] pver commented on #85
Forgot to mention: I tested this with installing the plugin in VS2015 Community Edition, but other versions should be supported as well with this fix

[2015-07-29 21:49] pver opened #88 "Improve support for multiple Visual Studio versions"
We'll need to fix some of the references used in the project. Because at the moment, a build can only be installed in a Visual Studio version higher or equal to the one used for building:

- when building from VS2012: it installs on VS2012-only and VS2013-only and VS2013 with VS2015 machines
- when building from VS2013: it installs on VS2013-only and VS2013 with VS2015 => it does not install on a

[2015-07-29 23:46] animeshb commented on #85
Peter, thanks for the update. Now, I have only Visual Studio 2015 installed. I will test and get back to you in a few.

[2015-07-30 00:10] animeshb commented on #85
Thanks, I was able to install it now. Please close the issue.

[2015-07-30 06:24] pver commented on #85
Great to hear, thanks for testing it!

[2015-07-30 06:25] #85 closed

[2015-08-06 12:10] pver opened #89 "Theming not applied for TestCase results in TestExplorer"
In case of a parameterized test, the TestExplorer does not apply the black theme correctly when showing the test results.

For instance this test:
[code]

Is displayed like this:
![image](https://cloud.githubusercontent.com/assets/1618378/9111210/d28ddff8-3c44-11e5-8a61-80bf0b7df9cf.png)

Non parameterized tests are displayed correctly:
![image](https://cloud.githubusercontent.com/assets/1618378/9

[2015-08-06 12:21] pver opened #90 "NUnit - TestCase with TestName not supported"
This works:
[code]
But the same test with overloads for the TestName, doesn't:
[code]
It logs this exception:
[code]

Something goes wrong when parsing the results, because of the method name overload

[2015-08-11 20:54] pver opened #92 "Classes with zero coverage not shown in coverage results"
Classes with 0% coverage are not shown at all in the coverage results. Only classes that have some coverage (>0%) are included.

This might be confusing and it's hard to find these classes: it requires comparing the files in the solution explorer with the classes in the coverage results view.

[2015-08-11 20:55] pver commented on #92
I almost have a fix ready for this

[2015-08-12 11:49] #92 closed

[2015-08-13 11:18] #86 closed

[2015-09-24 18:54] aleksandersmierciak commented on #55
Hi, was this idea considered? Is it possible? Right now, OpenCover uses its own test explorer pane, can it be merged into the existing test explorer?

[2015-09-24 19:31] pver commented on #55
Hi Aleksander,
it's a great idea indeed, it would also avoid a lot of development to create and maintain adapters for the different unit test frameworks.

I did some investigation to see if it's possible to interact with test adapters installed by a user, but until now I couldn't find anything yet. I'm not sure if it's possible to do it from a visual studio extension. There is documentation availa

[2015-09-25 17:29] jamdagni86 commented on #55
My initial idea was to run the tests from Test Explorer itself. I had tried a lot of things to make it work using that. I could add a context menu item to the test explorer and on click of which, I could execute the tests. However I faced a lot of problems while implementing this, some of them didn't have any solution at all. I am not able to recall them right now. I will let you guys know if I'm

[2015-09-25 18:00] immeraufdemhund commented on #55
From a high level how do you hook into the execution of the test to get the coverage? Does the Test Explorer not have a Context? How about maybe looking into how the static code analyzers look at the code and see if you can use that to get your code coverage?

[2015-10-08 20:44] gsuttie opened #95 "cant get opencover to run in vs2012"
I installed using the vsix from the extension update manager inside vs 2012 and I get an nunit window popup when trying to run the coverage on a test

[2015-10-09 11:42] pver commented on #95
The extension uses NUnit to execute the unit tests, but NUnit should be installed separately on your machine (see http://nunit.org/index.php?p=download )
The first time you run the extension, a popup is shown to indicate NUnit could not be found (yet). After closing this popup window, you can then point to the nunit console runner.

You can also set the nunit path from the options dialog: ![Image

[2015-10-14 13:59] JoeAtGit opened #96 "VS2015, MSTest, OpenCover only covers external dll's"
shows coverage for moq.dll and EntitiyFramework.BulkInsert.dll; not for the project being covered.

any idea is welcome

thanks

[2015-10-14 16:24] pver commented on #96
Hi @JoeAtGit, thanks for reporting this.
I noticed you also created a ticket in the OpenCover project (OpenCover/opencover/issues/356). It looks like you don't get any results when your run OpenCover itself either? Or is it unrelated to this issue?

[2015-10-15 08:32] JoeAtGit commented on #96
Thank you Peter

Those are unrelated, issue with OpenCover via cmd is sorted.

[2015-10-15 12:02] jmecosta opened #97 "nunit 3 support"
hi,

do you have already this somewhere?

br,
jc

[2015-10-15 12:13] JoeAtGit commented on #96
Apologies Peter, post further investigation, it seems it is OpenCover related.

[2015-10-15 12:13] #96 closed

[2015-10-15 17:49] pver commented on #97
Hi,

I don't think anyone is working on that already, but I think we definitely should support this in the near future. I'm not sure yet if we should make a (temporary) separate version for this, since NUnit 3 is still in beta. It will probably depend on how we can combine NUnit 2 and NUnit 3 support in the plugin.

Adding NUnit 3 support shouldn't take too much work though, because they now provi

[2015-10-15 17:50] pver commented on #96
No problem! :+1:

[2015-10-15 18:27] jmecosta commented on #97
i have patched the tool and the only thing needed was to modify the command line parameters to nunit, / instead of --... its good for us for now, but best option is to use the nunit api for sure. supose this is what you are after: https://github.com/nunit/nunit3-vs-adapter/blob/master/src/NUnitTestAdapter/NUnit3TestDiscoverer.cs

[2015-10-15 18:37] jmecosta commented on #97
But I suppose you know that already :)

[2015-10-18 08:22] gsuttie commented on #95
Hi there, got it working many many thanks, Is there away to exclude .test projects from coverage results?

[2015-10-18 17:27] pver commented on #95
You're welcome, good to hear you have it working :+1:

Excluding projects (or referenced assemblies) is not supported yet, but it's indeed a good feature and it's on definitely our todo list: OpenCoverUI/OpenCover.UI/issues/44

[2015-10-19 15:11] pver opened #98 "Group properties and eventhandlers in Results View"
I think it would look better to introduce another node type beneath the class nodes in our results window to group items that belong together. More specifically for properties and event handlers.

They now look like this:
![image](https://cloud.githubusercontent.com/assets/1618378/10581562/ae5fd9d2-7683-11e5-92be-436fb2066d94.png)

It might be nice to have it look this:
- PropertyId
  - Value(Syst

[2015-10-21 18:50] pver commented on #98
Made some progress, first tests look OK:
![image](https://cloud.githubusercontent.com/assets/1618378/10646761/50ae4612-7835-11e5-9b15-70fc268b32f9.png)

[2015-10-21 20:57] #98 closed

[2015-10-21 21:00] pver commented on #98
(only implemented this for properties for now: we get info about a method being a property method from the coverage results, but this is not supported for event handler methods (add/delete) yet)

[2015-10-22 15:52] pver commented on #80
Available statistics from opencover results (we don't use yet) are:
- maxCyclomaticComplexity
- minCyclomaticComplexity
- visitedClasses
- numClasses
- visitedMethods
- numMethods

[2015-10-30 15:46] AtwooTM commented on #27
@sawilde @jamdagni86 @csMACnz Do you guys need help with xUnit support?  If someone has already started working on it, do need a collaborator?  If no one has started, I may give it a try in some free development cycles...

[2015-10-31 10:58] pver commented on #27
Some work has started here: https://github.com/OpenCoverUI/OpenCover.UI/pull/69
but we didn't verify it yet. It might be a good starting point. I don't have much experience with xUnit so it would be great if you could do some verifications with it

[2015-11-02 12:17] isaacllopisaracil opened #100 "OpenCover Test Explorer Tree grouping"
This is a request for an enhacement on the OpenCover Test Explorer. Currently the "Group By" button allows to group by "Class", "Trait", "Project" and "Outcome".

Many unit tests in TDD are created with a namespace pattern, so that the class "Namespace.WhateverTests" contains the tests for the class "Namespace.Whatever". The explorer already contains the "Class" grouping and "Project" grouping, bu

[2015-11-02 12:30] isaacllopisaracil commented on #100
So to clarify the "Namespace" grouping it would go like this:
1st level) Assembly name of the tests
2nd level) Nested tree of namespaces within the assembly
3rd level) Classes containing the tests

For example
* MyTestedProject.Tests _(assembly)_
 * MyTestedProject.Tools _(namespace)_
   * MyTestedProject.Tools.System _(namespace)_
     * SystemToolTests.cs _(test class)_
        * ctor_WithoutPar

[2015-11-02 14:37] pver commented on #100
Thanks for the suggestion, it's indeed a good feature.
I've scheduled it to be included for the next release

[2015-11-03 08:56] isaacllopisaracil commented on #100
Amazing Peter! Very nice work with the tool, by the way.

On Mon, Nov 2, 2015 at 2:37 PM Peter Vermeulen <notifications@github.com>
wrote:

[2015-12-23 07:46] Boohy opened #101 "Coverage results not showing coverage for my tests, but for other .dlls"
I am using VS 2015 professional, and I wanted to see the code coverage for my project.
I was following this guide:
https://visualstudiogallery.msdn.microsoft.com/6950a046-8919-4935-8542-c6f37956f688
Everything is fine except Step 3. It doesn't show my classes and methods, but some other .dlls. Screenshot:
![GitHub Logo](http://i.stack.imgur.com/BiSCP.jpg)
Any suggestions why it is not showing code

[2015-12-23 11:17] pver commented on #101
This might be caused by one of the open issues: do you have TestFixture attributes on your classes? These are no longer required by nunit, but the discoverer in opencover.ui still requires them while discovering tests (even if a base class already has the attribute).

[2015-12-23 11:45] Boohy commented on #101
Hi,
thanks for the fast reply.
I am using MSTest with [TestClass] and [TestMethod] attributes on classses/methods.
Tests are being discovered and run in OpenCover Test Explorer without any problems, the only thing that is not working as it should is the code coverage results.

[2015-12-24 17:08] pver commented on #101
I'll see if I can reproduce this with MSTest. Do you notice any errors or warnings in the opencover.ui output window? It's located in the Visual Studio Output window that also show build output (it should have an opencover.ui item in the combobox).

[2015-12-25 11:12] Boohy commented on #101
I will take a look on output window on Monday morning, when I will be at work computer and let you know.

[2015-12-28 07:20] Boohy commented on #101
Nothing unusual in the output window, just statistics about run/failed tests etc.

[2016-01-16 20:48] glen-nicol commented on #97
Has any progress been made on this? I don't mind doing some work to get it going. My main question is what is wrong though? Mine discovers Nunit3 tests but when I point it to the nunit3-console.exe it throws a NullReferenceException in a dialog.

[2016-01-18 09:41] bunnu commented on #97
I created a pull request for adding NUnit 3.x support. Take a look at #102

[2016-02-03 22:56] HarelM commented on #101
Same here, two dlls are showing:
using mstest.
I'm trying to migrate from open cover Nuget + Report Generator + batch file to this UI.
I don't have any config file in my root solution folder (I assume the defaults should work out of the box?)
![image](https://cloud.githubusercontent.com/assets/3269297/12799824/c4b1f936-cad9-11e5-841c-7c4cafc6b18e.png)

[2016-02-03 23:07] HarelM opened #103 "Adding missing buttons"
Kudos on this project.
If this UI should replace the default test explorer then the following should be added:
1. Run all tests.
2. Cancel.
3. Ignored tests should be marked with yellow triangle and not marked as blue Not Run.
4. Styling should be the same as visual studio: use triangle tree expander:
![image](https://cloud.githubusercontent.com/assets/3269297/12800046/21dc0ca4-cadb-11e5-81b1-aaa2

[2016-02-04 10:23] pver commented on #101
I couldn't reproduce it myself so far :(

Do you use specific project settings, for instance mixed .net framework versions or mixed target platforms (x64 vs x86 vs Any)?
Can you extract a small example project that produces the issue?

[2016-02-04 10:34] pver commented on #95
The initial issue was resolved and other remaining item can be tracked here: #44

[2016-02-04 10:34] #95 closed

[2016-02-04 11:58] pver commented on #103
These are good suggestions, thanks @HarelM !

Regarding the 5th item: it is possible to expand the column containing the test name (when you hover over the tree header you should see the slider appearing), but we can indeed increase the default width of that column

[2016-02-04 18:19] HarelM commented on #101
I'm using the defaults - .Net 4.5 Any CPU, I didn't find any difference between the DAL and the DALInterfaces properties.
The problem was I installed an old version from a branch and not the released from the main repository, sorry for the false alarm.
Coverage is as expected.

[2016-02-04 18:28] pver commented on #101
Glad to hear it's working now :+1:

@Boohy did you test this with the latest release?

[2016-02-04 18:55] HarelM commented on #101
I know what caused this: In visual studio gallery the link is to here:
https://github.com/sawilde/opencover/releases
which made me install a bad version...
Please fix the link described here:
https://visualstudiogallery.msdn.microsoft.com/6950a046-8919-4935-8542-c6f37956f688

[2016-02-04 18:57] pver commented on #101
Oh, I see, thanks for the info!

@jamdagni86 can you update the link on visualstudiogallery?

[2016-02-04 19:00] HarelM opened #104 "No text coloring?"
After a successful run of code coverage, when double clicking the function - the code is not highlighted in red and green colors? am I missing something?
VS 2015 community.

[2016-02-04 19:08] pver commented on #104
Did you enable the color and/or glyph buttons? You can find these in the OpenCover Results window (the 2 buttons on the left)

[2016-02-04 19:13] HarelM commented on #104
Thanks! Missed those buttons...
A wiki page with instructions might help too:-)

[2016-02-04 19:13] #104 closed

[2016-02-04 19:15] pver commented on #104
True, we really need to extend the documentation soon :-)

In case you don't like the default colors (for instance depending on your VS theme), here you can find a guide to change them: https://github.com/OpenCoverUI/OpenCover.UI/wiki/OpenCover.UI-Configuration

[2016-02-06 09:02] HarelM commented on #103
Also, A search option is required to be able to run a specific test.
No sure why another column is needed as I don't see any data in it.
Please let me know if you prefer that I open an issue on each of the items or keep this thread as is.
Please don't mistake my criticism with dissatisfaction, I really love what you did and I just want to make it better :-)

[2016-02-06 09:08] HarelM opened #105 "OpenCoverUI company?"
Shouldn't this repository be a part of the OpenCover company?
I think it will be better if both repository have the same parent as they are basically the same product split into engine(console runner) and UI(this repository)...?

[2016-02-06 09:52] HarelM opened #106 "Test result can't be clicked"
When a test fails I would like to be able to double click on the failing line and move to the line in the code where the test failed. This is currently not possible with the current UI.
Are you sure that a whole new UI is the correct solution in this case? this will require a rewrite of the whole test explorer window, shouldn't a test adapter be sufficient? (much like chutzpah and Nunit test adapt

[2016-02-06 09:58] HarelM opened #107 "Ability to run a test from the editor window"
Resharper and Chutzpah has the ability to run tests right from the editor window - this way you don't have to look for the test in the text explorer and run it straight from where it is written, this is a very productive feature.

[2016-02-06 10:07] HarelM opened #108 "Total code coverage does not add up"
See picture below:
Coverage for all tests show 100% but the total is not (~97%)... am I missing something?
![image](https://cloud.githubusercontent.com/assets/3269297/12866099/d02a23fa-ccc9-11e5-9d79-f039c87ff59b.png)

[2016-02-06 11:54] pver commented on #108
By default (because of legacy reasons) a class that has no coverage at all is filtered in the results. Probably this is what happens now in your example.

You can, however, display those as well by clicking the 'Show uncovered classes' button (this is the third button on top of the OpenCover results windows).

[2016-02-06 11:55] pver commented on #105
That's something for @sawilde to decide :)

[2016-02-06 11:58] pver commented on #103
No problem at all, you have good suggestions! :-) Might indeed be best to create separate issues for new ones, that way they can be implemented and tracked over different releases (depending on the time and priority to fix them)

[2016-02-06 12:43] HarelM opened #109 "Add search bar"
Much like the regular text explorer, Please add an option to search for a test in order to run only it.

[2016-02-06 12:46] HarelM opened #110 "Add Run All/Run Coverage for all button"
When opening the window for the first time the tests are divided by classes, there is no easy option to run all tests. the current workaround is to group them by outcome and then run them all.
Once they ran there is no option to run them again assuming I changed the code and want to rerun - I'll need to compile and then use the above workaround.

[2016-02-06 12:46] HarelM opened #111 "Add cancel button"
Add the ability to cancel currently running tests.

[2016-02-06 12:47] HarelM opened #112 "Ignored tests are marked as not run"
They should be marked with yellow triangle icon and be placed in the ignored category of the outcome.

[2016-02-06 12:50] HarelM commented on #103
Updated my original issue to be specific to styling + changed the issue name + added other issues as new ones. Thanks for the prompt feedback!

[2016-02-06 15:01] HarelM opened #113 "Problem with config file"
When I add the example default file coverage stops working:
[code]
error from output windows:
[code]

The folder exists, the trx file exists at the end and it looks like the xml is generated in the process and gets deleted at the end. in and out folder do not get created.
any suggestions?

[2016-02-06 19:55] pver opened #114 "Library names are missing in results view"
The library names are (no longer) shown in the results view tree:
![image](https://cloud.githubusercontent.com/assets/1618378/12869006/dde879e8-cd13-11e5-813e-3366992497cc.png)

This used to be fine, it might be related to changes in the opencover output.

[2016-02-07 08:41] jamdagni86 commented on #101
Done. Now, it's pointing to - https://github.com/opencover/opencover/releases.

[2016-02-07 18:17] pver commented on #101
Great, thanks! :+1:

I think we can close this one for now. @Boohy if the issue remains after upgrading to the new opencover release, feel free to reopen this ticket

[2016-02-07 18:17] #101 closed

[2016-02-10 12:48] pver commented on #114
This is related to a change in the coverage xml results. In Module, the 'FullName' tag was renamed to 'ModulePath'.

Originally (tested with 4.6.192)
[code]
With the latest release (tested with 4.6.515):
[code]

[2016-02-10 12:59] pver commented on #114
Found the change was introduced in OpenCover/OpenCover#498
https://github.com/OpenCover/opencover/commit/b7884651d1fd4aa27d0073b4fad40b6370373d5b#diff-dc20d0471f5b3358b860db60bc2806b4L28

Will update to support this change in OpenCover.UI as well

[2016-02-10 17:08] #114 closed

[2016-02-14 16:58] viduz opened #116 "Visual Studio 2015 Professional Edition Configuration"
Hi Team ,

I'm trying to configure opencover with Visual Studio 2015 Professional edition.

I use Visual Studio In Build MS Test tool for Unit testing.

I have a few challenges on this ,

1.First I have installed opencover Version 4.6.519

Then report generator Version 2.4.3.0
First challenge that I'm facing is getting the Test Result out put from the visual studio. I'm running on default test con

[2016-02-14 18:23] pver commented on #116
Hi @viduz,

That's a strange exception. Can you successfully run your unit tests with the MS test runner from Visual Studio (so not from the plugin, but through Visual Studio itself)?

[2016-02-15 13:04] viduz commented on #116
Yes.

At the same time I ran Visual Studio test and it is possible.

[2016-02-15 17:20] pver commented on #116
Did you run it at the exact same time? That might be the reason: OpenCover.UI calls the same test runner and maybe they interfered with each other. Can you try running them one after the other?

[2016-02-19 15:31] MelGrubb opened #118 "Trait grouping not working for class-level categories"
First of all, let me say that this project is great, and I'm excited to see community support for coverage tooling. I only just started looking at it today, and it's already 95% of what I need. I got red/green highlighting and a usable report. The installation process is a little... weird, but I figured it out.

I have decorated my test classes with Category attributes, which works just fine in Vi

[2016-02-19 16:25] pver commented on #118
Good suggestion indeed, thanks! :+1: I'll add it as planned for the next release

[2016-02-23 16:28] xied75 commented on #27
:+1: Would be great if someone do this work.

[2016-03-04 20:16] HarelM commented on #113
I used the example given here:
https://visualstudiogallery.msdn.microsoft.com/6950a046-8919-4935-8542-c6f37956f688
The example is as follow:
[code]
After looking into the output when not using the file I noticed there are extra two parameters that do not get sent when using a config file:
```-hideskipped:All -register:user```
When using the following file everything is working as expected, please

[2016-03-04 20:54] HarelM opened #119 "Empty tree nodes and no title for coverage results"
I'm getting the following results:
![image](https://cloud.githubusercontent.com/assets/3269297/13539878/dcb4dd52-e25b-11e5-9837-7cf6111943e2.png)
As can be seen, some of the tree nodes are empty and all of them does not have a title - this makes me open each one to understand what ran in that node, needless to say this is not user friendly...

[2016-03-04 21:06] HarelM opened #120 ""Cover with OpenCover" get disabled sometimes."
Hi,

Sometimes, not sure why, the "Cover with OpenCover" get disabled. The only workaround I found for this is to restart Visual Studio:
![image](https://cloud.githubusercontent.com/assets/3269297/13540161/75c6c6e4-e25d-11e5-9f88-b3c03e8ad8ae.png)
Note that in the above image no test execution is made.
Pressing the refresh button doesn't help too.

[2016-03-05 08:58] pver commented on #119
This is fixed in #114 and will be in the next release.

As a temporary workaround until the new release, you could use an older version of OpenCover (OpenCover itself, not OpenCover.UI), because this problem was introduced because of recent changes in OpenCover (see #114 for details). I think it was introduced after OpenCover 4.6.434 or 4.6.476, so with those versions the assembly names are still

[2016-03-05 08:58] #119 closed

[2016-03-05 15:45] pver commented on #108
@HarelM does the total add up with the entirely uncovered classes shown (see comment above to enable it)?

[2016-03-05 16:10] HarelM commented on #108
Yes, it does add up.
BTW, When a writing a test that throws the coverage for this test is not full. Not sure where to open the issue about it...

[2016-03-05 16:43] pver commented on #108
Probably @sawilde knows the specifics about how the coverage in that case is determined. But I think that's because when an exception is thrown, the test method is returning early, even when it's thrown from the last statement in your test method.

But I don't usually consider that as a problem for unit tests as long as the code under test itself is fully covered.

[2016-03-06 17:06] nzain commented on #110
+1 Often you want to get your total coverage. Much like "run all unit tests" before a commit.

[2016-03-09 21:36] joesun99 opened #121 "Missing ResultNodes folder in project"
Hi

After I downloaded from git I get missing ModuleNode.cs in Models

[2016-03-14 19:11] pver commented on #121
Hi @joesun99, I assume you used the VS2012 solution? It looks like the OpenCover.UI.csproj file in that solution got out of sync with the VS2013 one.

I'll update it with the changes from the VS2013 version

[2016-03-14 19:28] #121 closed

[2016-03-17 01:03] gregveres opened #123 "add menu item to turn off coverage coloring"
I really like OpenCover.UI. Thank you for writing it. I find that the coloring in the editor window can get in the way and annoying when I am done with it.

What I usually do is write the unit test and code based on requirements. Then when I feel I have finished implementing the requirements and covering those requirements with unit tests, I turn to a code coverage tool to tell me where I need to

[2016-03-17 08:50] pver commented on #123
Hi @gregveres, nice to hear you like the extension!

You can disable the coverage coloring by using the 2 left buttons in the Coverage Results window: you can enable and disable the line coloring or the glyps in the left editor bar separately

![image](https://cloud.githubusercontent.com/assets/1618378/13840869/9dc455c2-ec25-11e5-8e4d-4e9a8acfccc7.png)

I think this is what you are looking for?

[2016-03-17 12:10] gregveres commented on #123
Perfect. Yes that was exactly what I was looking for. Thank you for pointing it out.

[2016-03-17 13:21] pver commented on #123
Ok, no problem!

[2016-03-17 13:21] #123 closed

[2016-03-23 14:08] trezum opened #124 ".runsettings file"
The plugin lets you select a .runsettings file:
http://puu.sh/nQZfT/3f46b451ed.png

Is this feature implemented; will it let me pick what classes to run coverage for?
Do you have an example file that works with open cover?

I have been takeing a look at theese two links, but i am not sure it is run at all by the plugin:
https://msdn.microsoft.com/en-us/library/jj635153.aspx
https://msdn.microsoft.

[2016-03-24 09:20] rahulm15 opened #125 "Getting same error in different testing projects VS 2013"
Length cannot be less than zero.
Parameter name: length
   at System.String.Substring(Int32 startIndex, Int32 length)
   at OpenCover.UI.Processors.NUnitTestExecutor.ReadTestCase(XElement ts)
   at OpenCover.UI.Processors.NUnitTestExecutor.<ReadTestResults>b__1(XElement ts)
   at System.Linq.Enumerable.WhereSelectEnumerableIterator`2.MoveNext()
   at System.Linq.Enumerable.<UnionIterator>d__88`1.M

[2016-03-24 12:24] pver commented on #125
Something seems to go wrong while reading the test results.
What version of NUnit are you using (not the dll version referenced in your test project, but the version of NUnit you configured for use by OpenCover.UI)?

[2016-03-26 21:33] Yefimov opened #126 "Can't open it on VS2015"
Please, tell me, how i can launch OpenCoverUI?
My VS2015 says
**Release:**

**Debug:**

![1](https://cloud.githubusercontent.com/assets/16087064/14062533/88c95704-f3b3-11e5-808b-6376fa5738fd.png)

[2016-03-27 23:44] Yefimov opened #127 "What means executables?"
Am i right that this is the .exe-file of my project?
![image](https://cloud.githubusercontent.com/assets/16087064/14068541/f37d5696-f48e-11e5-879a-9f7e1aca7c87.png)

[2016-03-27 23:46] Yefimov commented on #126
Just set the right project as a the startup project in solution.

[2016-03-27 23:46] #126 closed

[2016-03-28 07:28] Yefimov commented on #127
This is a OpenCover.Console.exe file.
You can get it in %localappdata%\Apps\OpenCover after the installing .msi-file from https://github.com/opencover/opencover/releases

[2016-03-28 07:28] #127 closed

[2016-04-21 21:03] ashes999 commented on #125
This looks like a duplicate of #42

I get the same stack dump today. I'm using NUnit 2.6.4 (latest 2.x prod version), with OpenCover configured to use `nunit-console.exe`

[2016-04-21 21:04] ashes999 commented on #42
Looks the same as #125 . Is there any progress on this? I'm getting an identical stack dump today.

[2016-04-25 08:49] messerm commented on #27
+1

[2016-05-03 07:25] twenzel opened #128 "Nested Test classes won't be found"
We've structured our unit tests with nested classes.
This is a common approach as described here http://haacked.com/archive/2012/01/02/structuring-unit-tests.aspx/ .

The OpenCover Test Explorer didn't find those nested test classes with their test methods.

[2016-05-04 21:02] merlyn333 opened #129 "The specified executable is not a valid application for this OS platform"
I have installed **Visual Studio Professional 2015**:

![devenv_2016-05-04_15-56-50](https://cloud.githubusercontent.com/assets/361017/15028929/dfff16c8-1210-11e6-96ab-104b74a697e5.png)

I've installed "**[OpenCover UI extension](https://visualstudiogallery.msdn.microsoft.com/6950a046-8919-4935-8542-c6f37956f688)**" and "**[OpenCover UI GitHub](https://github.com/opencover/opencover/releases)**" a

[2016-05-05 18:31] merlyn333 commented on #129
For additional information:

![explorer_2016-05-05_13-28-05](https://cloud.githubusercontent.com/assets/361017/15052912/9f54d8aa-12c5-11e6-8a8e-1c40d9ce20ac.png)

[2016-05-05 21:13] Jacob-McKay commented on #120
+1 I was able to use this tool once and it worked well, but then I ran into the option being greyed out... clean and rebuild did not help.

Restarting visual studio lets me run the tool again, but I'm still looking for a less painful solution

[2016-05-06 17:28] pver commented on #120
This is a hard one, because I also notice it once in a while, but mostly not. So it's not easy to debug this. I'll add more logging on the enabling/disabling of the button

[2016-05-06 17:32] pver commented on #129
That's a strange one! Can you check the file path of the opencover installation? Did you maybe enter a directory instead of the opencover exe file? Or maybe a lnk of the exe? That might explain the exception

[2016-05-11 00:58] Jacob-McKay commented on #120
Been using this extension for days now and haven't seen it again.  Heisenbug

[2016-05-17 23:05] Yefimov opened #130 "Invalid markup"
Hello.

In VS2015 _OpenCover.UI-master\OpenCover.UI\Views\CodeCoverageResultsControl.xaml_ showing like this:
![image](https://cloud.githubusercontent.com/assets/16087064/15342123/ac54b90a-1c9b-11e6-8752-bffe4e9fb2a6.png)

How can i solve this issue and use graphic designer here?

[2016-05-26 10:37] Yefimov commented on #130
Daniel Hindrikes solved this issue [here](http://danielhindrikes.se/visual-studio/workaround-for-invalid-markup-problems-when-developing-for-windows-phone/#comment-117540).

A changed not to x86, but to x64.

[2016-05-26 10:37] #130 closed

[2016-05-26 14:45] isaacllopisaracil commented on #120
Using the latest github-built version (built it from code myself) and it still keeps on happening.

[2016-06-03 11:27] gregor4005 commented on #120
I can reproduce the issue without a problem when I build the projects with _ReSharper Build & Run_.
OpenCover.UI is always disable after I tried to start it once.

Maybe _ReSharper Build & Run_ uses a different event to tell VS that the build has finished.

[2016-06-16 14:59] mvleandro opened #131 "Object reference not set to an instance of an object"
I've installed the this plugin before installing the OpenCover application and i'm receiving this message all the time i try to execute the unit tests in OpenCover Test Explorer.

I've tryed to execute the Visual Studio in Administrator mode but don't works again.

[2016-06-18 11:45] pver commented on #131
Hi @mvleandro, you can still set the path of OpenCover if you install the plugin first: this page shows how to configure it: https://github.com/OpenCoverUI/OpenCover.UI/wiki/Release-Notes#new-settings-page
That should fix the issue

[2016-06-24 18:23] ComptonAlvaro opened #132 "Object reference not set to an instance of an object"
I have Visual studio 2015 community, I have installed the last version of vsix, later I have installed OpenVpn from nugets and finally I dowonload NUnit, the last version, which exe is nunit3-console.exe.

In visual studio, in options of OpenCover, I have set the path to NUnit (nunit3-console.exe) and for the openvocer-console.exe file.

I right click in one of my tests methods in the openCover ex

[2016-06-24 18:25] ComptonAlvaro commented on #131
I have the same problem and I set the path for opencover-console.exe and for nunit3-console.exe in visual studio tools-->options-->OpenCoverUI.

[2016-06-24 18:25] #132 closed

[2016-06-25 07:42] pver commented on #131
Can you see any more details or a stack trace in the output window? It has an OpenCoverUI option in the combobox that shows OpenCoverUI details and errors.

[2016-06-26 15:02] ComptonAlvaro commented on #131
@pver thanks for your help.

I have this configuration in my VS2015:
![configuracion](https://cloud.githubusercontent.com/assets/20024410/16363081/abbd9186-3bbf-11e6-89ca-79beb400cad7.png)

I have this error:

![error](https://cloud.githubusercontent.com/assets/20024410/16363084/b3ac62d2-3bbf-11e6-9717-23dd7230c8cc.png)

And this is my output window

![output](https://cloud.githubusercontent.com/a

[2016-06-28 08:29] pver commented on #131
Hi @ComptonAlvaro , this might be an issue in combination with a newer version of OpenCover, I'll see if I can reproduce this issue with the version you are using

[2016-06-28 14:21] ComptonAlvaro commented on #131
Thanks for your help.

By the moment could you tell me what version of OpenCover could I use to run the the tests?

[2016-06-28 16:10] pver commented on #131
Hmm, that's strange, I use version 4.6.192 without a problem, so it's probably something else. Are you using the same nunit version in your unit tests as the version you configured in the configuration options?
Could you create a small test project you could share that reproduces the issue?

[2016-06-28 16:23] ComptonAlvaro commented on #131
I have tried to uninstall all nuget packages (NUnit and openCover) and I have installed the version 3.4.0 of NUint and the last version of OpenCover. In the configuration options of VS2015 Community I have selected the nunit3-console.exe and the openconver.console.exe.

[2016-06-28 16:54] mvleandro commented on #131
Hello,

I tryed to install NUnit, i setted the path correctly but i still receiving
the same message )=

Abraços,
Marcus Vinicius

On Tue, Jun 28, 2016 at 1:23 PM, ComptonAlvaro <notifications@github.com>
wrote:

[2016-06-28 17:00] ComptonAlvaro commented on #131
I have noticed that when I right click a test in the test window, the option run selected tests with opencCover is disabled.

[2016-06-28 17:51] ComptonAlvaro commented on #131
I have created a new project and it works, so I guess my problem is with my project. I will try to find the reason of the problem.

[2016-06-28 18:26] pver commented on #131
Thanks for further testing this @ComptonAlvaro ! If you find something specific, feel free to let us know, we could then add extra checks or error messages to avoid the cryptic error you receive now

[2016-06-29 10:56] ComptonAlvaro commented on #131
This is what I do. First, I get the .exe that needs OpenCoverUI, the nunit3-console.exe and the OpenCover.console.exe and copy in a common folder because I want to use with many solutions and this files is set in the settings of VS2015. So I copy in d:\programs\NUnit and d:\programs\OpenCover folders, and use this path in the settings.

Later I delete the hidden folder .vs that exists in my soluti

[2016-06-29 15:41] ComptonAlvaro commented on #131
I have solved my problem. I had VS2015 update 2 and now I have installed the update 3 and now I can run all the tests and I have no problems. I guess the update 3 has repair my VS2015 installation.

Thanks for your help and the good work with this tool.

[2016-06-29 16:38] pver commented on #131
Thanks for the detailed description @ComptonAlvaro ! This could really help people why experience the same issue in the future, so I'll leave this ticket open for now so people could easily find it

[2016-06-29 17:46] ComptonAlvaro opened #134 "VS2015 at 20-25% of CPU when I finished the tests"
I have noticed that when I have finished to run my tests, all it seems ok, but when I try to write, to modify the code, VS starts to use 20-25% of CPU and I have a lot of delay when I press the key and the text is write in the screen.

When I do nothing, the CPU is at 0%, I wait and continue in this way, until I try to write again, then the CPU is at 20-25% again and so on.

I have tried to close

[2016-07-13 15:14] lorenh commented on #27
Is anyone working on merging in the xunit support?  We could sure use it.

[2016-07-20 08:31] gaurarpit12 opened #135 "Unable to run tests using "Open Cover Test Explorer""
Through normal "Test Explorer Window", test cases are running. But unable to run the same using "Open Cover Test Explorer".

[2016-07-22 06:14] gaurarpit12 commented on #135
Could anyone be assigned to this issue?

[2016-07-22 20:44] sawilde commented on #135
People work on software like OpenCover and OpenCover Test Explorer in their own time and for free and so you can't expect instant support as they may have more urgent things to deal with i.e. work, home etc.

In the meanwhile you need to provide as much detail as you can about what the issue is i.e.

1. What version are you running?
2. What have you tried so far?
3. Have you checked the settings?

[2016-09-08 13:17] lorenh commented on #118
This would be a great addition we could really use.  Is there any sort of timeline for pulling together another release with all of the fixes since 0.8.1?

[2016-09-08 13:56] lorenh commented on #27
I see Joshlrogers updated his PR that adds support for XUnit.  It would be awesome if this could get merged someday!

[2016-09-09 19:21] hesantan commented on #27
We are eagerly waiting for xUnit support also. Any plans when support will be merged back in to the main branch?

[2016-09-12 21:48] lorenh commented on #120
I also see this with build of latest version (do not have ReSharper at all)

[2016-09-27 02:07] damanptyltd commented on #135
This issue was not hard to reproduce at all - just running the latest version of the tools would reveal the repo steps.

OpenCoverUi 0.8.1
OpenCover 4.6.519 (nuget)
nUnit.runner 3.4.1 (nuget)

Creates the test folders and related .txt file, but no tests are actually run and no results shown. No error in console or popup. VS 2015 with latest updates.

[2016-10-05 10:27] MelleKoning commented on #135
Hi,

I do not see nunit-test results, but I do see MSTest results.

Using:
OpenCover (latest build)
OpenCover.UI (latest build)
Nunit3.5

Note that when running one of the NUnit tests, OpenCover.UI asked me the location of nunit-console.exe

This does not exist anymore, with the latest NUnit 3.5 this is renamed to:
nunit3-console.exe (note the 3 in the filename).

I really like the tool, it works

[2016-10-05 20:22] MelleKoning opened #139 "Pull request is in"
Hi, is the slack teamchat still active? See #128 for added functionality on sub yest class. Thanks for your time, great VS extension.

[2016-10-06 10:59] pver commented on #135
Hi @MelleKoning , NUnit 3.x support is not released yet (see #102), but I've noticed you did some development based on the master branch. The masterbranch already has changes to support NUnit3.x, could you retest with your build from master, to see if that one runs the NUnit tests?

[2016-10-06 11:00] pver commented on #135
@gaurarpit12 since you didn't report any versions used, I assume you also try to run and cover NUnit 3.x tests?

[2016-10-07 09:49] MelleKoning commented on #135
Hi pver,

Yes, after uninstalling the released vsix and installing the one that I build latest from source on local machine  I indeed started seeing NUnit 3.x test results as well.
I've also updated the pull request for the support of sub-sub-test classes, please have a look.

[2016-10-07 10:36] pver commented on #139
Thanks for the contribution @MelleKoning ! I'll close this ticket now the pull request was pulled in

[2016-10-07 10:36] #139 closed

[2016-10-07 10:37] pver commented on #128
MSTest support was implemented in #138
NUnit and xUnit are still todo

[2016-10-08 09:27] pver commented on #128
NUnit support should be ok: #140

Still todo: check the same for xUnit

[2016-10-10 11:21] MelleKoning opened #141 "Code cover glyphs are over breakpoint glyph"
### Issue description:
Code coverage glyphs are over breakpoint glyph.

Can the glyph be placed elsewhere on the line?

### Versions used:
- OpenCover exe: --
- OpenCover.UI: latest build
- Visual Studio (inc. SP number): VS 2015
- MsTest/NUnit/xUnit: --

![image](https://cloud.githubusercontent.com/assets/506830/19234497/65ab1756-8eec-11e6-8f38-98f0684f818a.png)

[2016-10-11 14:19] MelleKoning commented on #128
Hi @pver,

Unfortunately the NUnit Discoverer does not yet support the nested classes it is a false positive in the Discoverer unit test, which did not take the namespace into account...

as in:

[code]

[2016-10-11 14:33] pver commented on #128
Hi @MelleKoning , thanks for checking! You are right, looks like we missed this while reviewing #117  which introduced the DiscovererTestsBase

Thanks for looking into xUnit, it's not merged yet, but you can find it in this pull request: #136

[2016-10-11 15:14] MelleKoning commented on #128
Hi @pver

Bummer. Unfortunately Mono.Cecil.TypeDefinition does not provide the namespace of an inner class:

See example of the issue here:
https://groups.google.com/forum/#!topic/mono-cecil/SXAv4j8O4AQ

I'll see if I can get the NUnit discoverer working for inner classes in another way.

[2016-10-11 16:46] pver commented on #128
Thx for investigating! I think we also need the namespace for the grouping in the test explorer.

In the mean time, I've also pushed an update of the test base, that also filters on test type (test base didn't distinguish if it needed to check for MSTest or NUnit tests, so when the tests for MSTest and NUnit had the same names, it also failed..) I've marked the tests with [Ignore] for now

[2016-10-11 19:12] MelleKoning commented on #128
Hi @pver

See new pull request: I found a way to get the Namespace.
I could also un-ignore the nunit tests again plus added back the check for the namespace in the test, apart from your added TestType-good addition!
The tests are working fine now.

For some reason, appveyor does not approve the pull request. Might be due to the added xUnit packages but I'm not sure if that's the case. Can  you hel

[2016-10-11 21:35] pver commented on #128
Great, thanks @MelleKoning!

I'll have a look at appveyor to see if I can find out why it fails, I'll keep you posted!

[2016-10-12 19:26] MelleKoning opened #145 "When selecting all tests for a run, only part of the tests is run."
### Issue description:
When selecting all tests for a run, for example both MSTest tests, and NUnit tests, only part of the tests (only MSTest group) are run.

### Versions used:
- OpenCover exe: latest
- OpenCover.UI: latest from master
- Visual Studio (inc. SP number): VS2015 Pro
- MsTest/NUnit/xUnit: MsTest and NUnit

![image](https://cloud.githubusercontent.com/assets/506830/19324544/7c049e14-

[2016-10-12 20:03] MelleKoning commented on #141
Instead of drawing glyphs on the existing margin where breakpoints glyphs re, it might be possible to create an extra margin next the line-numbers, when creating implementations for classes  IWpfTextViewMargin and  IWpfTextViewMarginProvider as described here:

https://msdn.microsoft.com/en-us/library/dd885244.aspx

[2016-10-12 21:11] pver commented on #141
Sounds good, thanks, I'll have a look at it

[2016-10-13 08:56] comradum opened #146 "Exception during run UT with TestCaseSource"
### Issue description:
Have exception: "Length cannot be less than zero" when start UT with TestCaseSource:

Length cannot be less than zero.
Parameter name: length
   at System.String.Substring(Int32 startIndex, Int32 length)
   at OpenCover.UI.Processors.NUnitTestExecutor.ReadTestCase(XElement ts)
   at OpenCover.UI.Processors.NUnitTestExecutor.<ReadTestResults>b__1(XElement ts)
   at System.Lin

[2016-10-13 15:03] MelleKoning commented on #128
Thanks for pulling in the work @pver  !

xUnit works a bit differently as it does not have any test-class-attributes, so we have to ensure the testMethod attributes can be distinguished from the MSTest and NUnit tests to support xUnit properly without duplicating tests in the discoverer. When time permits I'll have a look.

[2016-10-13 16:03] pver commented on #108
Closing this one since it wasn't an issue (calculation includes uncovered classes)

[2016-10-13 16:03] #108 closed

[2016-10-13 17:46] pver commented on #128
Thanks for the contributions @MelleKoning !

NUnit now also supports test classes that only have Test attributes on methods (so without the TestFixture attribute on class level). We might share the same logic between them (it just needs to look for another attribute on methods if I'm not mistaken)

[2016-10-20 18:23] MelleKoning commented on #27
Hi all,

A pull request is in for xunit support, based on the work from @joshlrogers

Please feel free to checkout the pull request and test it, as I only tested with VS2015sp3 and it is always good to have more experiences.

[2016-10-21 14:01] xied75 commented on #27
@MelleKoning Tried pull 148, VS solution compiles fine, under Debug mode got the vsix and installed it. Able to run xunit test after pointing it to xunit console runner and opencover console exe. Also using VS2015up3 here.

Great work!

[2016-11-01 00:00] jadaml commented on #113
I'm currently fighting with OpenCover.UI (version 0.8.1 from Visual Studio Gallery on VS2015) to properly highlight the covered lines. The symptoms for me is quite similar, except it doesn't work even without the config file.

Using the parameters that can be found in the output window, running the code from command prompt, the output XML file remains and have all modules skipped for one reason or

[2016-11-04 11:13] HarelM commented on #113
@jadaml I'm not sure I understood your bottom line, did you manage to make it work?
My project is hosted here:
https://github.com/IsraelHikingMap/Site
I'm using latest version of VS 2015 community.
Feel free to download this project and examine how and why it works. I can guarantee you it works.

[2016-11-05 07:10] jadaml commented on #113
@HarelM Bottom line is, I was able to make OpenCover.UI instruct OpenCover to make a cover file that is usable in general, but it was unable to pull it in to the source code editor.
I was only able to see that by making a batch command to first copy the coverage result and later to generate a report from the cover file with the Report Generator tool, and set it in the configuration like so:

    <

[2016-11-05 07:50] HarelM commented on #113
It is working now, The second post I wrote was meant to explain how I solved the issue and what needs to be changed.
You are right. I installed open cover 4.6.515.0 due to presentation bug (If I remember correctly) in program files, besides that NuGet it used widely.
I'm not sure what didn't compile but try and compile only the Tests/IsraelHiking.API.Tests project as it targets C# code tests (rath

[2016-11-05 09:50] jadaml commented on #113
Oh, I thought VS starts build with a NuGet redownload. Now I can see it is in the NuGet package list. But then how did you configured OpenCover.UI to use the package. My problem with this is that the configuration is an installation (user?) wide configuration, while the package is in a solution specific location, and it is not clear how can you refer to that. (An absolute path to the solution's pa

[2016-11-05 11:48] jadaml commented on #51
May I suggest branch coverage information to that list?
It becomes more relevant in cases, where there is an `if` without an `else` case, or a `switch` without a `default` case.

[2016-11-06 07:35] MelleKoning commented on #27
Thank you @xied75 ! @pver can you please merge the xUnit pull request?

[2016-11-06 07:38] MelleKoning commented on #146
Can you show the testclass source that causes this exception? OpenCover.UI has unit tests to ensure discovery of tests work, so we might have missed your test scenario?

[2016-11-06 13:53] hesantan commented on #27
@mellekoning @xied75 @pver This might be obvious, but ai just wanted to mention that the NuGet package should be updated with the new release. Thank s guys!

[2016-11-07 12:21] comradum commented on #146
Please:

using GcmSetup.TestSetup.Pages.ResultFields.Ranges;
using NUnit.Framework;
using System;
using System.Collections;
using TasklistDomain.Entities.Business;

[code]

[2016-11-07 18:55] pver commented on #146
The same issue was reported here: #90

It might have been solved already by merging in #117 (which also already included test cases for this) Although someone reported issues with it, so we need to retest that..

[2016-11-07 19:01] pver commented on #27
See #148

[2016-11-07 19:01] #27 closed

[2016-11-07 19:04] pver commented on #97
Pulled in #102

[2016-11-07 19:04] #97 closed

[2016-11-07 19:05] pver commented on #146
See also #42

[2016-11-17 18:43] tclemos opened #150 "Visual Studio 2017 support"
There is any idea "when" or "if" it will be available to be used with the VS2017?

[2016-11-19 23:04] jpdillingham opened #152 "Updated release"
The recent inclusion of Xunit support is enough to warrant a new release (in my opinion); can we get an official update of the binaries?

[2016-11-24 13:08] MrOm1214 opened #153 "Some tests are failed while running with MSTest.exe but in IDE VS2015 Pro are passed"
### Issue description:
Hello everyone I am new to Unit Testing, I hope I can get help to resolve my problem.
Actually what happens when I am running any specific test or all test of particular test class from IDE such as VS2015 pro with OpenCover UI Test explorer I can get the result with percentage But for while creating report while I am running test with MSTest.exe console some test are getting

[2016-11-24 13:12] #150 closed

[2016-12-03 17:43] ekolis commented on #141
Additionally the glyphs are identical to the breakpoint glyphs when the are red due to lack of coverage.

[2016-12-13 14:45] jadaml commented on #120
Side note: Breakpoint over all code point where it is set to disabled? This may not be usefull though... :(

Occationally after I have run OpenCover I am running all unit test with Visual Studio to see if they pass and usually (for me it was always so far) after that it becomes disabled.

Once it happened when OpenCover UI completes while tests are selected, but wasn't able to reproduce it that wa

[2016-12-18 18:00] slavapr commented on #134
I cannot event run tests.
"Cover with OpenConver" is always  disabled.
![image](https://cloud.githubusercontent.com/assets/4169617/21295374/76c6dcd6-c55c-11e6-8cc4-db8a60ea7ca5.png)

[2017-01-11 12:24] MelleKoning commented on #152
@pver is this something you can do or do you want another feature to be included first?

[2017-01-11 12:39] MelleKoning commented on #146
@comradum I implemented your testcode to try it, and it seems to work.

Had to add a few methods that were missing from your post. this is the class I eventually had:

` namespace OpenCover.UI.TestDiscoverer.TestResources.NUnit
{

    [TestFixture]
    public class DynamicTestcaseTests
    {
        public enum ConditionType
        {
            GREATER,
            LESS,
            EQUAL

[2017-01-15 09:10] comradum commented on #146
Where I can found built binaries? Or I should build them myself? Also I have noticed that my problem already fixed, but I can't find any release with this problem fixed.

[2017-01-16 15:34] comradum commented on #146
@MelleKoning, I have **release** version 0.8.1 installed. I see that after release there were commits on master that can fix my problem.

Are new release builds planned? If yes - when?

[2017-01-23 20:32] MelleKoning commented on #146
Hi @comradum, Yes you have to build the extension from sources. @pver do you know who can warrant a release?

[2017-02-07 10:46] Jerome2606 commented on #27
Hello,

I have version 0.8.1 installed but cannot see my Xunit tests in test explorer.

Do I need to get other beta version ?

[2017-02-27 09:34] qbodart opened #154 "Code coverage coloring on black version of VS2015"
### Issue description:
Code coverage coloring makes the code unreadable when you are using VS2015 in "black mode". Ideally, your setting page would allow us to change the colors.

### Versions used:
- OpenCover exe:
- OpenCover.UI:
- Visual Studio (inc. SP number):
- MsTest/NUnit/xUnit:

[2017-02-27 11:12] pver commented on #154
That's actually already possible ;-)
See: https://github.com/OpenCoverUI/OpenCover.UI/wiki/OpenCover.UI-Configuration

[2017-02-27 11:12] #154 closed, assigned to nobody

[2017-02-27 11:17] qbodart commented on #154
Thanks!

[2017-03-08 16:04] lorenh opened #155 "Project broken by installing VS2017"
### Issue description:

Probably a well known issue already, but it appears that VS 2017 introduced a breaking change that impacts extensions and the way they can no longer use COM references for EnvDTE assemblies.

https://developercommunity.visualstudio.com/content/problem/15434/cannot-find-wrapper-assembly-for-type-library-envd.html

I can't build OpenCover.UI unless I make the reference change

[2017-03-14 09:39] MateuszPeczek opened #156 "Support for Visual Studio 2017"
### Issue description:

Open Cover UI not supported in VS 2017.

### Versions used:
- OpenCover exe:
- OpenCover.UI:
- MsTest/NUnit/xUnit:

[2017-04-07 16:15] brazilbean commented on #156
From looking around, it appears that AxoCover/AxoTools wraps OpenCover and does support VS 2017.

https://github.com/axodox/AxoTools

[2017-04-24 16:33] mrexodia commented on #156
AxoTools looks like an amazing replacement for this tool, it also includes OpenCover in the VSIX file saving you the hassle if installing that!

[2017-04-24 16:34] mrexodia commented on #152
This would definitely be nice, since Nunit 3.x is also not supported in the current release.

[2017-04-28 10:46] pawelelert opened #158 "OpenCover.UI seems to be incompatible with nUnit 3"
Hi,

I have tried to run OpenCover.UI with newest version of nUnit (3.6.1), but I receive error as reported below. Digging into google, I get impression that /runlist switch referenced by OpenCover.UI is only working with nUnit console runner v.2 and not in nUnit console runner v3. Am I right?

Below please find exact error:
144 tests found
-target:"C:\Users\pelert\PE\IMA_code\packages\NUnit.Conso

[2017-05-02 08:58] BrettWalkerWork commented on #158
Hi There, I am experiencing the same issue with NUnit: 3.6.1. Thanks for raising this Pawel.

[2017-05-02 09:10] sawilde commented on #158
The arguments have changed between nunit2 and nunit3 and this may account for the issues you are seeing

[2017-05-10 13:10] MikkelDjurhuus opened #159 ""Cover with OpenCover" doesn't run the tests"
### Issue description:
Tests doesn't run when i click on "Cover with OpenCover" in the OpenCover Test Explorer
**And i get no errors :/**

**After clicking "Cover with OpenCover", Output looks like this:**
1>------ Build started: Project: Datamining_Test, Configuration: Debug Any CPU ------
1>  Datamining_Test -> C:\Users\Theko\OneDrive\Dokumenter\GitHub\datamining\Datamining_Test\bin\Debug\Datami

[2017-06-14 19:26] rohinimgund commented on #159
In OpenCover.UI Options:
If manually tried to give path for NUnit Path, It doesn't allow to open E:\users\rgd2\Execution Results\Visual Studio\Trial1\packages\NUnit.ConsoleRunner.3.6.1\tools\nunit3-console.exe
Because it is looking for NUnit Executable nunit-console*.exe

[2017-07-18 10:37] maartenoosterhoff commented on #156
Unfortunately, AxoTools does not support dot-net-core yet.

[2017-09-25 10:18] satish049 commented on #120
I was able to use it when I change the Reshaper build to VS build. As @gregor4005  mentioned it is using the VS build event to trigger the coverage.

So as a Temporary Fix, Change the build to "VS build" whenever you use the extension.

[2017-09-29 07:35] watsonsong commented on #156
@MateuszPeczek How about the plan for support 2017?

[2018-01-22 15:11] ravikanasagra1 opened #161 "Coverage Result different in Visual Studio 2015 and from Command Prompt (MSTest)"
My Framework
.Net 4.5.2

My Environment
Windows 7

Expected Behavior
Coverage result should be same.

Actual Behavior
Coverage numbers are coming different

More details from link - [https://github.com/OpenCover/opencover/issues/791](https://github.com/OpenCover/opencover/issues/791)

[2018-01-23 11:20] stevewi1950 commented on #158
Hi there.
This appears to be fixed via #102 as is now in the trunk.
Any ideas when a new release is going to be created?
I am more than happy to spare some time to get involved with this to move things along as I know other people have lots of other work commitments etc.
I cannot really start using this tool until the NUnit 3.x mods are part of a formal release....
Regards.

Steve Williams

[2018-03-03 06:40] Anand-Raman opened #162 "OpenCover UI Not working"
### Issue description:
Unable to get any information in the Opencover Result.

### Versions used:
- OpenCover exe: 4.6.519
- OpenCover.UI:0.8.1
- Visual Studio (inc. SP number):  2015
- MsTest/NUnit/xUnit:NUnit3.9

[2019-02-02 19:18] #124 closed

[2019-03-21 09:05] lili3422 opened #164 "Not able to generate results"
### Issue description:
hi all,
please help me to resolve the below problem。

### Versions used:
- OpenCover exe: OpenCover.4.6.519
- OpenCover.UI:ReportGenerator.2.5.8
- Visual Studio (inc. SP number): 2017 MSBuild: '15.8.169.51996'
- MsTest/NUnit/xUnit: 3.0.0

 Test Files
      ReturnMailTests.dll

  Run Settings
      DisposeRunners: True
      WorkDirectory: D:\jenkins\workspace\PS\eadvice\rele

[2019-09-16 07:27] wgscd commented on #159
same issue as the subject, can somebody help?

[2019-10-10 21:59] tb-mtg opened #165 "Support for Visual Studio 2019"
Can OpenCoverUI be supported in Visual Studio 2019?